pycache/ 
*.py[cod] 
*.pyo 
*.pyd 
*.so 
*.egg 
*.egg-info/ 
dist/ 
build/ 
*.whl

backend/venv/ 
backend/env/ 
backend/.venv/


backend/.env 
.env

.vscode/ 
*.code-workspace

*.log 
*.pot 
*.pyc 
migrations/init.py 
backend/static/ 
backend/media/

*.DS_Store 
*.swp 
*~
