pycache/ 
*.py[cod] 
*.pyo 
*.pyd 
*.so 
*.egg 
*.egg-info/ 
dist/ 
build/ 
*.whl

backend/venv/ 
backend/env/ 
backend/.venv/


backend/.env 
.env

.vscode/ 
*.code-workspace

*.log 
*.pot 
*.pyc 
migrations/init.py 
backend/static/ 
backend/media/


 # Next.js
 frontend/.next/
 frontend/out/
 frontend/node_modules/
 frontend/.env.local
 frontend/.env.development.local
 frontend/.env.test.local
 frontend/.env.production.local

*.DS_Store 
*.swp 
*~
